/* FONTE */
h1 {
  font-family: roma-inscribed, sans-serif;

  font-weight: 400;

  font-style: normal;
}
h2 {
  font-family: roma-inline, sans-serif;

  font-weight: 400;

  font-style: normal;
}
p {
  font-family: john-doe, sans-serif;

  font-weight: 400;

  font-style: normal;
}

/* STYLING AF ARRAY */
