* {
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
}

header {
  background-color: #faebd7;
  padding: 20px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* align-items: baseline; */
  justify-content: space-between;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

#ikon {
  top: auto;
  width: 350%;
  padding: 5px;
}

.billeder {
  max-width: 50%;
  max-height: 50%;
}

a {
  width: 5%;
  height: 5%;
  text-decoration: none;
}

/* STYLING AF TEKST TIL IKON */

/* .tekst_til_ikon {
  position: absolute;
  left: 24%;
  font-size: 1.3rem;
} */

/* STYLING AF SØG */

/* FONTE */
.icons {
  place-content: end;
}

h1 {
  font-family: roma-inscribed, sans-serif;

  font-weight: 400;

  font-style: normal;
  font-size: 50px;
}

h2 {
  font-family: roma-inline, sans-serif;

  font-weight: 1000;

  font-style: normal;

  text-decoration: underline;

  color: darkred;

  padding: 5px;

  cursor: pointer;
}

h3 {
  font-family: roma-inline, sans-serif;

  font-weight: 400;

  font-style: normal;

  color: black;
  font-size: x-large;
  margin-top: 10px;
}

p {
  font-family: john-doe, sans-serif;

  font-weight: 400;

  font-style: normal;
  margin: 40px;
}

.intro {
  text-align: center;
  background-color: antiquewhite;
  padding: 1vh;
}

/* STYLING AF ARRAY */
img {
  display: block;

  cursor: pointer;
}

.menuBar {
  display: flex;
  align-items: baseline;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px;
  align-items: center;
}

.icons {
  margin-top: 10px;
}

.ikon {
  width: 7rem;
}

.Overskrift_forside {
  text-align: center;
}

body {
  /* brug denne farvekode i stedet #311262 */
  background-color: #311262;
}

.valgt {
  background-color: yellow;
}

.undersider {
display: flex;
flex-direction: column;
align-items: flex-end;
margin-right: 50px;
}

article {
  background-size: 100%;
  background-image: url("/images/clipboard.png");
  height: 100vh;
  width: 100%;
  background-position: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
}

.knapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: darkred;
  padding: 10px;
}

button {
  border: black 2px solid;
  border-radius: 10px;
  background-color: #8cc63f;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

button:hover {
  border: solid orange 2px;
}

footer {
  display: flex;
  background-color: darkred;
  color: white;
  justify-content: end;
  padding: 15px;
}

.kategorier {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: darkred;
}
h4 {
  font-family: roma-inline, sans-serif;

  font-weight: 400;

  font-style: normal;
  font-size: 23px;
  text-decoration: underline;

  color: orange;

  padding: 5px;
}

.om_os {
  text-align: center;
}

@media (min-width: 1200px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
}
