* {
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
}

header {
  background-color: #faebd7;
  padding: 20px;
  display: grid;
}

#ikon {
  padding: 0%;
  top: auto;
  position: relative;
}

/* STYLING AF TEKST TIL IKON */

/* .tekst_til_ikon {
  position: absolute;
  left: 24%;
  font-size: 1.3rem;
} */

/* STYLING AF SØG */

/* FONTE */
h1 {
  font-family: roma-inscribed, sans-serif;

  font-weight: 400;

  font-style: normal;
  font-size: 50px;
}

h2 {
  font-family: roma-inline, sans-serif;

  font-weight: 1000;

  font-style: normal;

  text-decoration: underline;

  color: darkred;

  padding: 5px;

  cursor: pointer;
}

h3 {
  font-family: roma-inline, sans-serif;

  font-weight: 400;

  font-style: normal;

  color: black;
  font-size: x-large;
}

p {
  font-family: john-doe, sans-serif;

  font-weight: 400;

  font-style: normal;
  margin: 40px;
}

/* STYLING AF ARRAY */
img {
  max-width: 50%;
  max-height: 50%;
  display: block;

  cursor: pointer;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px;
  align-items: center;
}

.ikon {
  width: 7rem;
}

.Overskrift_forside {
  text-align: center;
}

body {
  /* brug denne farvekode i stedet #311262 */
  background-color: #311262;
}

.valgt {
  background-color: yellow;
}

article {
  background-size: 100%;

  background-image: url("/F-lles-Passion-Projekt/images/clipboard.png");
  height: 100vh;
  width: 100%;
  background-position: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
}

.knapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: darkred;
  padding: 10px;
}

button {
  border: black 2px dotted;
  border-radius: 30px;
  background-color: #8cc63f;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

button:hover {
  border: dotted orange 2px;
}

footer {
  display: flex;
  background-color: darkred;
  color: white;
  justify-content: end;
}

.kategorier {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: darkred;
}
h4 {
  font-family: roma-inline, sans-serif;

  font-weight: 400;

  font-style: normal;
  font-size: 23px;
  text-decoration: underline;

  color: orange;

  padding: 5px;
}

@media (min-width: 1200px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
}
